//Header

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

div {
    margin: 0;
    padding: 0;
}

header {
    width: 80vw;
    height: 7vh;
    padding: 1vh 10vw;
    //background-color: white;
    position: absolute;
    position: fixed;
    //box-shadow: 0px 0px 2vh 2px #18436e;
    text-align: left;
    top: 0;
}

#brand {
    float: left;
    font-size: 5vh;
    padding: 1vh;
}

nav {
    float: right;
    padding: 2.5vh 0;
    font-size: 2vh;
}

nav ul {
    display: inline;
}

nav ul li a {
    cursor: pointer;
}

nav ul li {
    border-right: black 1px solid;
    padding: 0 2vh;
}

.last {
    border: none;
    padding-right: 0;
}

li {
    display: inherit;
}

.clear {
    clear: both;
}
