body {
    //background-image: url(../images/logo_prodigy.jpg);
    background-image: url(../images/bg5.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.6s linear;
    padding: 0;
}

#logo-bottom {
    position: absolute;
    position: fixed;
    z-index: 198;
    right: 2vw;
    bottom: 2vh;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.logos {
    height: 10vh;
}

#logo {
    /*    /margin-top: 9vh;*/
}

#logo-img {
    width: 100vw;
}

#about {
    margin: 0 0 0 0;
    font-size: 2vh;
    background-color: #00485a;
    box-shadow: 0px 0px 2vh 2px #2d5068;
    color: aliceblue;
}

*::-webkit-scrollbar {
    display: none;
}

*::-moz-scrollbar {
    display: none;
}

@media only screen and (min-width: 1081px) {
    #about {
        padding: 10vh 20vw;
    }
}

@media only screen and (max-width: 1080px) {
    #about {
        padding: 5vh 10vw;
        text-align: justify;
    }
    .logos {
        display: none;
    }
}
